<%= form_with(model: [@task.category, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :due_at %><br />
    <%= f.datetime_field :due_at, placeholder: 'Pick a Date', data: {
      controller: "flatpickr",
      flatpickr_alt_format: t("date.formats.long"),
      flatpickr_date_format: "%b %d, %Y",
      flatpickr_min_date: Time.zone.now
    } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
