<section class='main-section'>
  <div class="container-fluid">
    <div class="row">
      <% if !overdue(@tasks).empty? %>
        <div id="overdue" class="col-md-6 col-lg-4">
          <h2 class="fs-4 text-danger">OVERDUE</h2>
          <% overdue(@tasks).each do |task| %>
            <%= render 'task', task: task %>
          <% end %>
        </div>
      <% end %>
      <div id="today" class="col-md-6 col-lg-4">
        <h2 class="fs-4 text-primary">TODAY<span class="lead fs-6"> <%= Date.today.strftime("%a, %B %d") %></span></h2>
        <%= 'You have no tasks for today' unless !today(@tasks).empty? %>
        <% today(@tasks).each do |task| %>
          <%= render 'task', task: task %>
        <% end %>
      </div>
      <% if !upcoming(@tasks).empty? %>
        <div id="upcoming" class='col-md-6 col-lg-4'>
          <h2 class="fs-4 text-warning">UPCOMING</h2>
          <% upcoming(@tasks).each do |task| %>
            <%= render 'task', task: task %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
