<div id="overdue">
  <h2 class="text-danger">OVERDUE</h2>
  <table class="table">
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Description</th>
      <th>Due Date</th>
      <th colspan="3">Actions</th>
    </tr>
    <% overdue(@tasks).each do |task| %>
      <tr>
        <td><span class="badge bg-success"><%= task.category.title %></span></td>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.due_at.strftime("%b %d, %Y") %></td>
        <td><%= link_to "Show", [task.category, task] %></td>
        <td><%= link_to "Edit", edit_category_task_path(task.category, task) %></td>
        <td><%= link_to "Delete", [task.category, task], method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </table>
</div>
<div id="today">
  <h2 class="text-primary">TODAY<span class="lead"> <%= Date.today.strftime("%a, %B %d") %></span></h2>
  <table class="table">
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
    <% today(@tasks).each do |task| %>
      <tr>
        <td><span class="badge bg-success"><%= task.category.title %></span></td>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= link_to "Show", [task.category, task] %></td>
        <td><%= link_to "Edit", edit_category_task_path(task.category, task) %></td>
        <td><%= link_to "Delete", [task.category, task], method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </table>
</div>
<div id="upcoming">
  <h2 class="text-warning">UPCOMING</h2>
  <table class="table">
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Description</th>
      <th>Due Date</th>
      <th colspan="3">Actions</th>
    </tr>
    <% upcoming(@tasks).each do |task| %>
      <tr>
        <td><span class="badge bg-success"><%= task.category.title %></span></td>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= format_date(task.due_at) %></td>
        <td><%= link_to "Show", [task.category, task] %></td>
        <td><%= link_to "Edit", edit_category_task_path(task.category, task) %></td>
        <td><%= link_to "Delete", [task.category, task], method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </table>
</div>
