<section class='container-center'>
  <div class="container-fluid row justify-content-center">
    <div class="col-md-7 col-lg-5 bg-light shadow mt-4">
      <div class="p-4 p-md-5">
        <h3 class="text-center mb-4">Change your password</h3>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <div class="field">
            <%= f.label :password, "New password", class: 'form-label' %><br />
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
          </div>
          <div class="field mt-4">
            <%= f.label :password_confirmation, "Confirm new password", class: 'form-label' %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>
          <div class="actions my-4 d-flex flex-column justify-content-center">
            <%= f.submit "Change my password", class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
