<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <% category.errors.each do |error| %>
        <p><%= error.full_message %></p>
      <% end %>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>
  <div class="field" >
    <%= form.hidden_field :user_id, id: :category_user_id, value: current_user.id %>
  </div>
  <div class="actions mt-4">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
<% end %>
