<div class="d-flex justify-content-between align-items-center">
  <h1>Categories</h1>
  <%= link_to "New Category", new_category_path, class: 'btn btn-secondary' %>
</div>
<% @categories.each do |category| %>
  <%= link_to category do %>
    <div class="card my-2">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <h2 class="fs-3"><%= category.title %></h2>
          <div>
            <%= link_to "Edit", edit_category_path(category), class: 'btn btn-warning' %>
            <%= link_to "Delete", category_path(category.id),
                          class: 'btn btn-danger',
                          method: :delete,
                          data: { confirm: "Are you sure you want to delete #{category.title}?" } %>
          </div>
        </div>
        <p clas="text-muted"><%= category.description %></p>
        <span>Tasks: <%= category.tasks.count %></span>
      </div>
    </div>
  <% end %>
<% end %>
